.main__container:before {
    content: url(../../Assets/Decor-left.svg);
    position: absolute;
    left: 94vh;
}
.main__container::after {
    content: url(../../Assets/Decor-right.svg);
    position: absolute;
    right: 94vh;
}
.hero__h1 {
    font-family: 'Monsterrat', sans-serif;
    font-size: 56px;
    line-height: 80px;
    text-align: center;
    font-weight: 800;
    padding-left: 150px;
    padding-right: 150px;
        span {
            display: block;
        }
}

.hero__h2 {
position: relative;
padding-left: 150px;
padding-right: 150px;
 font-family: 'Monsterrat', sans-serif;   
 font-size: 28px;
 line-height: 34px;
 font-weight: 800;
 text-align: center;
 color: #018FDE;
    &::after {
        content: url(../../Assets/Decor.png);
        display: block;
    }
}
// .hero__h1-firstRow::before{
//     content: url(../../Assets/Decor-left.svg);
//     display: block;
//     position: absolute;
//     top: 95px;
//     //bottom: 5px;
// }