$btnActive: #8792a7;
$borderColor: #121212;
$btnFontColor: #ffffff;

.hero__btn {
  display: flex;
  align-content: start;
  margin-bottom: 36px;
  position: relative;
  display: block;
  z-index: 0;
  bottom: 5px;
  left: 5px;
  background-color: #121212;
  color: $btnFontColor;
  padding: 8px 25px;
  font-family: "Montserrat", sans-serif;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  width: 211px;
  height: 40px;
  border: 1px solid $borderColor;
  &::after {
    content: "";
    position: absolute;
    right: 5px;
    top: 5px;
    border: 1px solid $borderColor;
    width: 211px;
    height: 40px;
    transition: all 1s;
  }
  &:active {
    color: $btnActive;
  }
  &:hover {
    &::after {
      opacity: 0;
    }
  }
}
