.hero__text {
  text-align: right;
  font-family: "Monsterrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  span {
    display: block;
  }
}

.hero__btn {
  display: flex;
  align-content: start;
  margin-bottom: 36px;
}
$btnActive: #8792a7;
$borderColor: #121212;
$btnFontColor: #FFFFFF;

// .hero__btn-wrap {
//   position: relative;
//   z-index: 2;
//   width: 95px;
//   height: 40px;
//   background-color: #fff;
//   border: 1px solid $borderColor;
//   transition-property: border;
//   transition: border 2s ease-in-out;
//     &:hover {
//       border: none;
//       bottom: 1px solid rgba(255,255,255,0);
//     }
// }
.hero__btn {
  position: relative;
  display: block;
  z-index: 0;
  bottom: 5px;
  left: 5px;
  background-color: #121212;
  color: $btnFontColor;
  padding: 8px 25px;
  font-family: "Monsterrat", sans-serif;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  width: 211px;
  height: 40px;
  //outline-style: double;
  border: 1px solid $borderColor;
  &::after {
    content: "";
    position: absolute;
    right: 5px;
    top: 5px;
    border: 1px solid $borderColor;
    width: 211px;
    height: 40px;
    transition: all 2s;
  }
  &:active {
    color: $btnActive;
  }
  &:hover {
    &::after {
        opacity: 0;
    }
}
}
