.hero__text {
  text-align: right;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  span {
    display: block;
  }
}

@media (max-width: 480px) {
  .hero_row-text {
    flex-direction: column;
    justify-content: center;
    .col {
      display: flex;
      justify-content: center;
    }
  }
}
