$btnActive: #8792A7;
$borderColor: #121212;

.btn__wrap {
  position: relative;
  z-index: 2;
  width: 95px;
  height: 40px;
  //background-color: #fff;
  border: 1px solid $borderColor;
  transition-property: border;
  transition: border 2s ease-in-out;
    &:hover {
      border: none;
      bottom: 1px solid rgba(255,255,255,0);
    }
}
.btn__light {
  position: absolute;
  display: block;
  z-index: 0;
  bottom: 5px;
  left: 5px;
  background-color: #fff;
  font-family: "Monsterrat";
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  width: 95px;
  height: 40px;
  border: 1px solid $borderColor;z
    &:active {
      color: $btnActive;
    }
}

// .btn__light:active {
//   color: $btnActive;
// }
// .btn__wrap:hover {
//   border: none;
// }