.btn__wrap {
  background-color: #fff;
  border: 1px solid #121212;
  position: relative;
}
.btn__light {
  background-color: #fff;
  height: 24px;
  width: 47px;
  left: 24px;
  top: 8px;
  border: 1px solid #121212;
  position: absolute;
}
